<!DOCTYPE html>
<html lang="en" style="margin: 0; height: 100%; overflow: hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="92967650602-un0j7tq20lburr34pkdgbsi20n8nn7ee.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <%- include("./partials/header.ejs") %>
  </head>

  <body class="bg-light">
    <script>
      async function onSignIn(googleUser) {
        console.log("Attempting to login");
        var id_token = googleUser.getAuthResponse().id_token;

        res = await fetch("/login", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id_token }),
        });
        if (res.redirected) location.assign(res.url);
      }
    </script>
    <div class="bg-image"></div>
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
      <h1 class="above no-blur">Westtown AutoCal</h1>
      <br />
      <div class="bg-info card align-items-center signin no-blur">
        <h2 class="card-header w-100 text-center">Login</h2>
        <div class="button-info card-body g-signin2" data-onsuccess="onSignIn"></div>
      </div>
    </div>
  </body>
</html>
