<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <form action="/profile" method="POST">
      <label for=" ical_feed_url">iCal Feed URL:</label><br />
      <input type="text" id="ical_feed_url" name="ical_feed_url" placeholder="Enter iCal feed url" /><br />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
