<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  </head>

  <body onload="init()">
    <h1>Setup page</h1>
    <script>
      function init() {
        gapi.load("auth2");
      }
    </script>

    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      async function signOut() {
        await gapi.auth2.init({ client_id: "92967650602-un0j7tq20lburr34pkdgbsi20n8nn7ee.apps.googleusercontent.com" });
        var auth2 = gapi.auth2.getAuthInstance();
        await auth2.signOut();
        document.location.href = "/logout";
      }
    </script>
    <br />
    <h2>'Make sure to share your calendar with <%= client_email %> and choose "Make changes to events"'</h2>
    <form action="/setup" method="POST">
      <label for=" ical_feed_url">iCal Feed URL:</label><br />
      <input type="text" id="ical_feed_url" name="ical_feed_url" value="<%=ical_feed_url%>" /><br />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
