<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
  <h1>
    Success! Your Google Calendar will be filling up shortly
  </h1>
    <h2>
      As events change in MyWesttown, they will update in Google Calendar as well
    </h2>
  </body>
</html>
