<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/header.ejs") %>
  </head>

  <body>
    <%- include('../partials/signoutButton.ejs') %>
    <br />
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
      <div class="bg-image"></div>
      <div class="no-blur text-center">
        <%- include("../partials/helpfulImagesToggle.ejs") %>
        <h1>Now, I need your MyWesttown Calendar</h1>

        <ul style="font-size: x-large">
          <!-- target="_blank" opens in new tab -->
          <li class="list-group-item">
            Go to <a href="https://westtown.myschoolapp.com/app/student#myschedule" target="_blank">MyWesttown</a>
          </li>
          <li class="list-group-item">
            On the left, near the top, make sure you have "month" selected
            <img src="Month.png" style="height: 100px" class="helpful-image" />
          </li>
          <li class="list-group-item">Click the green "Wifi" icon near the top right</li>
          <li class="list-group-item">
            Copy the <b>Feed URL</b>, NOT the "Webcal URL"
            <img src="FeedURL.png" style="height: 250px" class="helpful-image" />
          </li>
          <li class="list-group-item">Paste that URL here</li>
        </ul>
        <br />

        <form action="/iCalFeedSetup" method="POST" style="width: auto">
          <label style="font-size: x-large" for=" ical_feed_url">iCal Feed URL:</label><br />
          <input
            style="font-size: x-large; width: 75%"
            type="text"
            id="ical_feed_url"
            name="ical_feed_url"
            value="<%=ical_feed_url%>"
          />
          <br />
          <hr />
          <button style="font-size: x-large" type="button" onclick="proceed();">Done! Next step</button>
        </form>

        <script>
          async function proceed() {
            console.log(JSON.stringify({ ical_feed_url: document.getElementById("ical_feed_url").value }));
            let res = await fetch("/iCalFeedSetup", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ ical_feed_url: document.getElementById("ical_feed_url").value }),
            });
            if (res.redirected) location.assign(res.url);
            else alert(await res.text());
          }
        </script>
      </div>
    </div>
  </body>
</html>
